{% extends 'layout.html' %}
{% block content %}
	<div class="row-fluid container-main">
		<div class="span8">
			<form class="form-horizontal" action="/user/update" method="post">
				<div class="row-fluid">
					<div class="span12">
						<img src="{{user.fullname}}" alt="{{ user.fullname }}" />
						<a href="#">Cambiar avatar</a>						
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<label for="title">Video</label>
						<span>{{ user.video }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="fullname">Nombre</label>
					<div class="controls">
						<input type="text" id="fullname" name ="fullname" placeholder="Nombre" value="{{ user.fullname }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>					
					<div class="controls">
						<a href="#">Cambiar</a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>					
					<div class="controls">
						<div class="input-append">
						  <input id="email" name="email" type="text" value="{{ user.email }}">
						  {% if user.verifiedMail == 'S' %}
						  	<span class="add-on">@</span>
						  {% else %}
						  	<span class="add-on">X</span>
						  {% endif %}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="created">Miembro desde</label>	
					<div class="controls">
						<span id="created" name="created">{{ user.created }}</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h4>Extras</h4>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="country">Pais</label>	
					<div class="controls">
						<span id="country" name="country">{{ user.country }}</span><!-- COMBO -->
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="language">Lenguaje</label>	
					<div class="controls">
						<span id="language" name="language">{{ user.language }}</span><!-- COMBO -->
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="borndate">Fecha de nacimiento</label>	
					<div class="controls">
						<span id="borndate" name="borndate">{{ user.born }}</span><!-- DATEPICKER -->
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="bio">Biografia</label>	
					<div class="controls">
						<textarea id="bio" name="bio" rows="10" cols="50" maxlength="500">
							{{ user.bio }}
						</textarea>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						<h4>Social</h4>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="twitter">Twitter</label>	
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">@</span>
							<input id="twitter" name="twitter" type="text" value="{{ user.twitter }}">
						</div>
					</div>
				</div>

				<button class="btn btn-primary">Actualizar</button>
			</form>
		</div>
		<div class="span4">			
		</div>
	</div>
{% endblock %}