<div id="content" class="content project-content">
	<legend>Nuevo proyecto</legend>
	<form id="newproject-form" ng-submit="createproject()" enctype="multipart/form-data">

		<ol>
			<li>
				<label for="title">TITULO</label>
				<input type="text" ng-model="newproject.title" placeholder="Titulo" required>
			</li>
			<li>
				<label for="title">MUESTRANOS LA IMAGEN PRINCIPAL DE TU PROYECTO</label>
				<div ng-show="selectedFile != null">
					<img style="width:100px;" ng-src="./img/user_images/temp/{{ selectedFile }}">
				</div>				 
				<input type="file" ng-model="newproject.fileupload" ng-file-select="onFileSelect($files)" >				
			</li>
			<li>
				<label for="brief">RESUMEN</label>
				<input type="text" ng-model="newproject.brief" placeholder="Resumen en 140 caracteres..." required>
			</li>
			<li>
				<label for="goal">MONTO A RECAUDAR</label>
				<input type="text" ng-model="newproject.goal" placeholder="$" required>
			</li>
			<li>
				<label for="content">DESARROLLA TU PROYECTO</label>
				<textarea class="ckeditor" cols="40" ng-model="newproject.content" rows="10"></textarea>
			</li>
			<li>
				<button class="btn" type="reset">Cancelar</button>
				<button class="btn btn-primary" type="submit">Guardar</button>
			</li>
		</ol>
	</form>
</div>