<div id="content" class="content entrance-content">
	<div class="entrance-box">
		<h4>Log In</h4>
		<p>Ingresa tus datos para continuar</p><br>
		<form id="login-form" ng-submit="login()" name="login-form">
			<p class="error-message" ng-show="message">{{message}}</p>
			<fieldset>
				<ol>
					<li>
						<label for="title">EMAIL</label>
						<input type="text" ng-model="user.email" placeholder="Email" required autofocus>
					</li>
					<li>
						<label for="title">CONTRASEÑA</label>
						<input type="password" ng-model="user.password" placeholder="Contraseña" required>
					</li>
					<li>
						<input checked="checked" class="checkbox" id="entrance_remember_me" name="entrance_remember_me"  type="checkbox" value="1">		
						<label class="remember-me" for="entrance_remember_me">No salir de la cuenta</label>
					</li>
					<li>
						<button type="submit" class="btn btn-primary" ng-disabled="{{ login-form.$invalid }}">Entrar</button>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
	<div class="entrance-box entrance-box-primary">
		<h4>Eres nuevo en Mecenas?</h4>
		<p>Compartenos algunos datos para registrarte en Mecenas</p><br>
		<form action="/entrance/signup" method="post">
			<fieldset>
				<ol>
					<li>
						<label for="title">NOMBRE COMPLETO</label>
						<input type="text" name="usr_fullname" id="usr_fullname" placeholder="Nombre completo">
					</li>
					<li>
						<label for="title">EMAIL</label>
						<input type="text" name="usr_mail_a" id="usr_mail_a" placeholder="Email">						
					</li>
					<li>
						<label for="title">REINGRESE EL EMAIL</label>
						<input type="text" name="usr_mail_b" id="usr_mail_b" placeholder="Reingrese el email">
					</li>
					<li>
						<label for="title">CONTRASEÑA</label>
						<input type="password" name="usr_pass_a" id="usr_pass_a" placeholder="Contraseña">
					</li>
					<li>
						<label for="title">REINGRESE LA CONTRASEÑA</label>
						<input type="password" name="usr_pass_b" id="usr_pass_b" placeholder="Reingrese la contraseña">						
					</li>
					<li>
						<button class="btn btn-primary">Registrarme</button>			
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
	<div class="entrance-box entrance-box-secondary">
		<!-- botones de twitter / facebook / google -->
		<a href="#">Entrar con Twitter</a><br>
	</div>
</div>