<div id="content" class="content entrance-content">
	<div class="entrance-box">
		<h4>Log In</h4>
		<p>Ingresa tus datos para continuar</p><br>
		<form id="login-form" ng-submit="login()" name="login-form">
			<p class="error-message" ng-show="message">{{message}}</p>
			<fieldset>
				<ol>
					<li>
						<label for="title">EMAIL</label>
						<input type="text" ng-model="user.email" placeholder="Email" required autofocus>
					</li>
					<li>
						<label for="title">CONTRASEÑA</label>
						<input type="password" ng-model="user.password" placeholder="Contraseña" required>
					</li>
					<!--
					<li>
						<input checked="checked" class="checkbox" id="entrance_remember_me" name="entrance_remember_me"  type="checkbox" value="1">		
						<label class="remember-me" for="entrance_remember_me">No salir de la cuenta</label>
					</li>
					-->
					<li>
						<button type="submit" class="btn btn-primary" ng-disabled="{{ login-form.$invalid }}">Entrar</button>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
	<div class="entrance-box entrance-box-primary">
		<h4>Eres nuevo en Mecenas?</h4>
		<p>Compartenos algunos datos para registrarte</p><br>
		<form id="register-form" name="register-form" ng-submit='register()'>
			<fieldset>
				<ol>
					<li>
						<label for="title">NOMBRE COMPLETO</label>
						<input type="text" ng-model="newuser.fullname" placeholder="Nombre completo" required>
					</li>
					<li>
						<label for="title">EMAIL</label>
						<input type="text" ng-model="newuser.email" placeholder="Email" required>
					</li>
					<li>
						<label for="title">REINGRESE EL EMAIL</label>
						<input type="text" ng-model="newuser.email_b" placeholder="Reingrese el email" required>
					</li>
					<li>
						<label for="title">CONTRASEÑA</label>
						<input type="password" ng-model="newuser.password" placeholder="Contraseña" required>
					</li>
					<li>
						<label for="title">REINGRESE LA CONTRASEÑA</label>
						<input type="password" ng-model="newuser.password_b" placeholder="Reingrese la contraseña" required>
					</li>
					<li>
						<button type="submit" class="btn btn-primary">Mejorar el mundo</button>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
	<div class="entrance-box entrance-box-secondary">
		<!-- botones de twitter / facebook / google -->
		<a href="#">Entrar con Twitter</a><br>
	</div>
</div>