{% extends 'layout.html' %}
{% block content %}
	<div class="content project-content">
		<div>
			<div>
				<h3><%=title%></h3>
				<span>por <%=creator.fullname%></span>
			</div>
		</div>
		<div>
			<img src="<%=mainImage%>" alt="<%=title%>">
		</div>

		<!-- columna derecha -->
		<div>
			<div>
				<p><%=brief%></p>
			</div>
			<div>
				<p>
					<%=content%>
				</p>
			</div>
		</div>

		<!-- columna izquierda -->
		<div>
			<div>
				<button>INVERTIR</button>
			</div>
			<div>			
				<span>50</span>
				<span>personas ya invirtieron</span>
			</div>			
			<div>			
				<span>$ <%=collected%></span>
				<span>invertidos de $<%=goal%></span>
			</div>
			<div>				
				<span><%=daysLeft%></span>
				<span>para finalizar</span>
			</div>			
		</div>
	</div>
{% endblock %}